/**
CMPT 370, T05, Team 4, Prof. Jon Lovering
Kara Leier, kjl061, 11293306
Nathan Balilis, ncb421, 11295020
Trushank Lakdawala, nus429, 11350445
Jinny Kim, yek738, 11304174
Sara Shakeel, gvk731, 11367521
 */

.bold {
    -fx-font-weight: bold;
}

.italic {
    -fx-font-style: italic;
}

.underline {
    -fx-underline: true;
}

.strikethrough {
    -fx-strikethrough: true;
}

.alignment {
    -fx-text-alignment: left;
}